<ion-app>
  <ion-menu side="start" menuId="main-menu" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false">
            <ion-item button (click)="navigateTo('/home')">
              <ion-label>Home</ion-label>
            </ion-item>
          </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/favourites">
            <ion-label>Favourites</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item button (click)="navigateTo('/settings')">
            <ion-label>Settings</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- main content - router outlet must have the id referenced by the menu's contentId -->
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
