<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>recipe-details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toSettings()">
        <ion-icon slot="icon-only" name="cog-outline" fill="warning"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-card *ngFor="let ing of fullIngr">
<img src="https://img.spoonacular.com/ingredients_100x100/{{ing.image}}" />
  <ion-card-header>
    <ion-card-title>{{ing.original}}</ion-card-title>
    <ion-card-subtitle></ion-card-subtitle>
  </ion-card-header>
  <ion-card-content> 
     {{ing.measures[selectedSystem].amount}} {{ing.measures[selectedSystem].unitLong}}
  </ion-card-content>
</ion-card>


<ion-list>
  <ion-header>
    <ion-label>
      <ion-title>Step by Step Instructions</ion-title>
    </ion-label>
  </ion-header>
  <ion-item *ngFor="let inst of instruction">
    <ion-label>
      <h2>Step {{inst.number}}</h2>
      <p>{{inst.step}}</p>
    </ion-label>
  </ion-item>
</ion-list>
</ion-content>