<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>recipe-details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-card *ngFor="let ing of fullIngr">
<img src="https://img.spoonacular.com/ingredients_100x100/{{ing.image}}" />
  <ion-card-header>
    <ion-card-title>{{ing.original}}</ion-card-title>
    <ion-card-subtitle></ion-card-subtitle>
  </ion-card-header>
  <ion-card-content> 
     {{ing.measures.us.amount}} {{ing.measures.us.unitLong}} {{ing.measures.metric.amount}} {{ing.measures.metric.unitLong}}
  </ion-card-content>
</ion-card>
</ion-content>

<ion-list>
  <ion-title>Step by Step Instructions</ion-title>
  <ion-item *ngFor="let inst of instructions">
    <ion-label>{{inst.number}} {{inst.step}}</ion-label>
  </ion-item>