<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      What's in the house? Recipe Finder!
    </ion-title>
     <ion-buttons slot="end">
      <ion-button (click)="toSettings()">
        <ion-icon slot="icon-only" name="cog-outline" fill="warning"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-searchbar 
       [value]="searchQuery"
        (ionInput)="handleInput($event)"
        search-icon="search-circle" 
        placeholder="What Ingredients do you have?">
      </ion-searchbar>
      <ion-buttons>
        <ion-button 
          (click)="onSearch()" 
          color="warning" 
          fill="outline">
          Search
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


  <div id="container">
    <h1> HomePage Yup bro!</h1>
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
