<ion-header> 
  <ion-toolbar>
    <ion-title>Settings</ion-title> 
  </ion-toolbar> 
</ion-header>
  <ion-content>
    <ion-list> 
     <ion-item button (click)="navigateToHome()"> 
        <ion-label>Home</ion-label> 
     </ion-item> 
       <ion-item button (click)="navigateToSettings()"> 
         <ion-label>Settings</ion-label> 
       </ion-item> 
     </ion-list> 
  </ion-content> 

<ion-content id="main-content">
 <ion-header>
  <ion-list>
      <ion-label>Measurement System</ion-label>
    <ion-radio-group [(ngModel)]="selectedSystem" (ionChange)="onSystemChange()">
      <ion-item>
        <ion-radio slot="start" value="metric"></ion-radio>
        <ion-label>
          <h2>Metric</h2>
          <p>Grams (g), Milliliters (ml), Kilograms (kg)</p>
        </ion-label>
      </ion-item>
      
      <ion-item>
        <ion-radio slot="start" value="us"></ion-radio>
        <ion-label>
          <h2>US</h2>
          <p>Ounces (oz), Cups, Tablespoons (tbsp), Pounds (lb)</p>
        </ion-label>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  </ion-header>
</ion-content>
